{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/bin/sh

# Exit if VS Code is not installed.
which code > /dev/null || exit 0

# Install desired extensions.
code --install-extension acarreiro.calculate
code --install-extension alefragnani.Bookmarks
code --install-extension alefragnani.project-manager
code --install-extension arturbelico.code-sum-up
code --install-extension bajdzis.vscode-database
code --install-extension bibhasdn.unique-lines
code --install-extension bungcip.better-toml
code --install-extension christian-kohler.path-intellisense
code --install-extension codezombiech.gitignore
code --install-extension CoenraadS.bracket-pair-colorizer
code --install-extension coolbear.systemd-unit-file
code --install-extension eamodio.gitlens
code --install-extension EditorConfig.EditorConfig
code --install-extension eriklynd.json-tools
code --install-extension esbenp.prettier-vscode
code --install-extension fatihacet.gitlab-workflow
code --install-extension guyskk.language-cython
code --install-extension haaaad.ansible
code --install-extension ipedrazas.kubernetes-snippets
code --install-extension jprestidge.theme-material-theme
code --install-extension JulioGold.vscode-smart-split-into-lines
code --install-extension mauve.terraform
code --install-extension mhutchie.git-graph
code --install-extension ms-azuretools.vscode-docker
code --install-extension ms-kubernetes-tools.vscode-kubernetes-tools
code --install-extension ms-python.python
code --install-extension ms-vscode.Go
code --install-extension ms-vscode.sublime-keybindings
code --install-extension ms-vsliveshare.vsliveshare
code --install-extension msjsdiag.vscode-react-native
code --install-extension ow.vscode-subword-navigation
code --install-extension redhat.vscode-yaml
code --install-extension richie5um2.vscode-statusbar-json-path
code --install-extension rust-lang.rust
code --install-extension Shan.code-settings-sync
code --install-extension skyapps.fish-vscode
code --install-extension skyran.js-jsx-snippets
code --install-extension swindh.enumerator
code --install-extension tht13.rst-vscode
code --install-extension VisualStudioExptTeam.vscodeintellicode
code --install-extension vscode-icons-team.vscode-icons
code --install-extension waderyan.gitblame
code --install-extension wwm.better-align
code --install-extension yzhang.markdown-all-in-one
code --install-extension zxh404.vscode-proto3
{{end -}}
