{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

asdf plugin-add java
asdf plugin-add kubectl
asdf plugin-add kubectl
asdf plugin-add kustomize
asdf plugin-add python
asdf plugin-add rust
asdf plugin-add shfmt
asdf plugin-add skaffold
asdf plugin-add terraform
asdf plugin-add terragrunt
asdf plugin-add vault

while read tool; do
  asdf install $tool
done <~/.tool-versions
{{end -}}
